<!DOCTYPE html>
<html lang="en" ng-app="houseOfCunhaApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Quem me representa?</title>

    <link href="css/slate/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap_extension.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="lib/controllers.js"></script>
    <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="VotacoesCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Quem me representa?</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="navbar">

                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="#deputados_section">Deputados</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Sobre</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                <h2>Quem me representa?</h2>
                <h5>Saiba quais deputados se parecem com você de acordo com as votações da câmara.
                Dê sua opinião nos temas listados e os deputados serão ordenados pela semelhança com a sua opinião dada.
                </h5>
                </div>
            </div>
        </div>

    </header>
    <!--<section id="deputados_section" style="background-color: #0a4b3e">-->

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ temaToModel.Pergunta }}</h3>
        </div>
        <div class="modal-body">
            <b>{{ temaToModel.descr }}</b>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>

    </script>


    <section id="deputados_section" style="background-color: #0a4b3e">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <!--<p>-->
                            <!--<button class="btn btn-default" ng-click="status = !status">Toggle last panel</button>-->
                        <!--</p>-->

                        <div collapse="status">

                            <div class="col-lg-12">
                                <div>
                                    <h2>Você é a favor de(a)</h2>
                                </div>

                                <div>

                                    <div ng-repeat="tema in temas" >
                                        <div class="row">
                                            <div class="col-lg-5">

                                                <label>
                                                    {{tema.Pergunta}}
                                                    <a href=""
                                                            ng-click="tema_descricao(tema)">
                                                        <span class="glyphicon glyphicon-info-sign"></span>
                                                    </a>

                                                </label>

                                            </div>
                                            <div class="col-lg-7">

                                                <div class="btn-group" role="group" id="tema-{{$index}}" style="padding-bottom:10px;">

                                                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Sim'" ng-click="click(tema,'s')">
                                                        Sim</label>
                                                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Não'" ng-click="click(tema,'n')">
                                                        Não</label>
                                                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Não sei'" ng-click="click(tema,'ns')">
                                                        Não sei</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><!-- /input-group -->

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div>
                        <h2>Deputados</h2>
                    </div>

                    <div class="row">
                        <label>Nome: <input ng-model="search.nome"></label>

                        <h4 class="col-sm-2 control-label">Estado:</h4>
                        <div class="col-sm-3">
                            <select  ng-model="estadoSelecionado" class="form-control" ng-options="estado.uf for estado in estados"
                                     ng-change="filter()" >
                                <option value="">TODOS</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div class="list-group">

                        <div class="row" ng-repeat="deputado in deputados | orderBy:['-score','partido','nome']
                        | filter:estadoSelecionado  | filter:search | startFrom:(currentPage-1):this| limitTo:pageSize">

                            <div class="col-lg-4 text-left">

                                <span class="badge">{{deputado.partido}}/{{deputado.uf}}</span>
                                {{deputado.nome}}

                            </div>

                            <div class="col-lg-8 text-left" ng-if="deputado.score >= 0">
                                <progressbar value="deputado.score" type="{{typeProgessBar(deputado.score)}}"
                                             tooltip-html-unsafe="{{iguais(deputado) + '<br /><br />' + diferentes(deputado)}}" popover-trigger="mouseenter">
                                    <span style="color:black; white-space:nowrap;">
                                    {{deputado.score | number : 2 }}%</span></progressbar>
                            </div>
                            <div class="col-lg-8 text-left" ng-if="deputado.score < 0" style="padding-bottom:10px">
                                <span class="badge progress-bar-danger" tooltip="{{tooltip_semvalor}}"
                                      ng-if="deputado.nome != 'Eduardo Cunha'">Sem Valor</span>
                                <span class="badge progress-bar-danger" tooltip="{{tooltip_art17}}"
                                      ng-if="deputado.nome == 'Eduardo Cunha'">Art. 17</span>

                            </div>

                        </div>


                            <pagination total-items="totalItems" items-per-page="15" ng-model="currentPage"
                             class="pagination-sm" boundary-links="true" max-size="5"
                            rotate="false"></pagination>


                        </div>

                    </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">

        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

    <script src="lib/controllers.js"></script>
    <script src="lib/directives.js"></script>
    <script src="js/underscore-min.js"></script>


</body>

</html>
