<!DOCTYPE html>
<html lang="en" ng-app="houseOfCunhaApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Quem me representa?</title>

    <!--<link href="css/slate/bootstrap_cerulean.min.css" rel="stylesheet">-->
    <link href="css/slate/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap_extension.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="lib/controllers.js"></script>
    <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/social_media.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--<script>-->
        <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
                    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
                <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
        <!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

        <!--ga('create', 'UA-64197950-1', 'auto');-->
        <!--ga('send', 'pageview');-->

    <!--</script>-->

    <!-- -->
</head>

<body ng-controller="VotacoesCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Quem me representa?</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="navbar">

                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="#deputados_section">Deputados</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#section_calculo">Cálculo</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Sobre</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">

            <div class="row">
                <div class="col-lg-10">
                    <h2>Quem me representa?</h2>
                    <h5>Saiba quais deputados se parecem com você de acordo com as votações da câmara.
                    Dê sua opinião nos temas listados e os deputados serão ordenados pela semelhança com a sua opinião dada.
                    </h5>
                </div>

                <div class="col-lg-2">

                    <a   class="btn btn-social-icon btn-facebook"
                         href="https://www.facebook.com/sharer/sharer.php?u=STE" target="_blank"
                         onclick="javascript:window.open(this.href, '',
						   'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                         title="Compartilhe no Facebook!">
                        <i class="fa fa-facebook"></i></a>

                    <a  class="btn btn-social-icon btn-twitter"
                        href="http://twitter.com/home?status=ppquando.com.br"
                        onclick="javascript:window.open(this.href, '',
						   'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"

                        title="Compartilhe no Twitter!">
                        <i class="fa fa-twitter"></i>
                    </a>


                </div>
            </div>
        </div>
    </header>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ temaToModel.Pergunta }}</h3>
        </div>
        <div class="modal-body">
            <b>{{ temaToModel.descr }}</b>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>

    </script>


    <section id="deputados_section">
        <div class="row">
            <div class="container">
                <div class="col-lg-5">
                    <div class="row">
                                <div class="row">
                                    <div class="container">
                                        <h2 class="btn-group">Você é a favor de(a)
                                            <button class="btn btn-default inline visible-xs visible-sm inline" ng-click="collapsed = !collapsed"
                                                    ng-class="collapsed ? 'visible-md visible-lg' : ''">
                                                <span ng-class="collapsed ? 'glyphicon glyphicon-plus' : 'glyphicon glyphicon-minus'"></span></button>
                                        </h2>
                                    </div>

                                </div>


                                <div collapse="collapsed">

                                    <div ng-repeat="tema in temas" >
                                        <div class="row">
                                            <div class="col-lg-6">

                                                <label>
                                                    {{tema.Pergunta}}
                                                    <a href=""
                                                            ng-click="tema_descricao(tema)">
                                                        <span class="glyphicon glyphicon-info-sign"></span>
                                                    </a>

                                                </label>

                                            </div>
                                            <div class="col-lg-6">

                                                <div class="btn-group" role="group" id="tema-{{$index}}" style="padding-bottom:10px;">

                                                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Sim'" ng-click="click(tema,'s')">
                                                        Sim</label>
                                                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Não'" ng-click="click(tema,'n')">
                                                        Não</label>
                                                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Não sei'" ng-click="click(tema,'ns')">
                                                        Não sei</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><!-- /input-group -->


                    </div>
                </div>


                <div class="col-lg-7">
                    <div>
                        <h2>Deputados</h2>
                    </div>

                    <div class="row">
                        <label>Nome: <input ng-model="search.nome"></label>

                        <h4 class="col-sm-2 control-label">Estado:</h4>
                        <div class="col-sm-3">
                            <select  ng-model="estadoSelecionado" class="form-control" ng-options="estado.uf for estado in estados"
                                     ng-change="filter()" >
                                <option value="">TODOS</option>
                            </select>
                            Deputados : {{deput_filtrados.length}}
                        </div>
                    </div>

                    <br>
                    <div class="list-group">

                        <div class="row" ng-repeat="deputado in (deput_filtrados =
                        (deputados | orderBy:['-score','nome']
                        | filter:estadoSelecionado  | filter:search)
                        | startFrom:(currentPage-1):this| limitTo:pageSize)">

                            <div class="col-lg-4 text-left">

                                <span class="badge">{{deputado.partido}}/{{deputado.uf}}</span>
                                {{deputado.nome}}

                            </div>

                            <div class="col-lg-8 text-left" ng-if="deputado.score >= 0">
                                <progressbar value="deputado.score" type="{{typeProgessBar(deputado.score)}}"
                                             tooltip-html-unsafe="{{iguais(deputado) + '<br /><br />' + diferentes(deputado)}}" popover-trigger="mouseenter">
                                    <span style="color:black; white-space:nowrap;">
                                    {{deputado.score | number : 2 }}%</span></progressbar>
                            </div>
                            <div class="col-lg-8 text-left" ng-if="deputado.score < 0" style="padding-bottom:10px">
                                <span class="badge progress-bar-danger" tooltip="{{tooltip_semvalor}}"
                                      ng-if="deputado.nome != 'Eduardo Cunha'">Sem Valor</span>
                                <span class="badge progress-bar-danger" tooltip="{{tooltip_art17}}"
                                      ng-if="deputado.nome == 'Eduardo Cunha'">Art. 17</span>

                            </div>

                        </div>


                            <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage"
                             class="pagination-sm" boundary-links="true" max-size="5"
                            rotate="false"></pagination>


                    </div>
                </div>

            </div>

        </div>
    </section>


    <hr>
    <!-- About Calculo -->
    <section id="section_calculo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Como o cálculo é feito?</h2>
                    <!--<hr>-->
                    <ol>
                        <li>
                            Você dá sua opinião sobre temas.
                        </li>
                        <li>
                            São selecionados os votos dos deputados nos temas que você opinou (são excluídos as abstenções e obstruções).
                        </li>
                        <li>
                            Caso você tenha opinado em um tema que o deputado não votou Sim ou Não, este tema é excluído do cálculo.
                        </li>
                        <li>
                            Desta maneira, é calculada a proporção de opiniões iguais, suas e do deputado.
                        </li>


                    </ol>

                    <p>
                        Por exemplo: se você votou em Sim nos temas A,B e C, e o deputado votou sim no tema B e D, só é levado em conta
                        o tema B, que está presente tanto nas suas opiniões quanto nos votos do deputado. Desta maneira,
                        nos temas em que você e o deputado opinaram, ele lhe representa em 100%.
                    </p>


                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>

    <hr>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!--<hr>-->
                    <h5> Projeto idealizado no 3º Hackfest Analytics, promovido pelo
                        <a href="https://www.facebook.com/analytics.ufcg">Laboratório Analytics</a> da UFCG.
                        Desenvolvido por: Andryw Marques, Nazareno de Andrade e João Arthur.
                    </h5>


                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">

        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; quemmerepresenta
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

    <script src="lib/controllers.js"></script>
    <script src="lib/directives.js"></script>
    <script src="js/underscore-min.js"></script>


</body>

</html>
